.app{
    display: : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input[type="radio"]
{
    position: absolute;
	opacity: 0;
	width: 0;
} 

.star{
    cursor: pointer;
    transition: color 200ms;
}